{% extends 'base.html' %}
{% load static %}

{% block contone %}
<h1>Profile</h1>

<script src="{% static 'profile/button.js' %}"></script>

<table>
    <thead>
        <tr>
            <th>Category Name</th>
            <th>DL-Number-01</th>
            <th>DL-Number-02</th>
            <th>DL-Number-03</th>
            <th>DL-Number-04</th>
            <th>DL-Number-05</th>
            <th>DL-Number-06</th>
            <th>DL-Number-07</th>
            <th>DL-Number-08</th>
            <th>DL-Number-09</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="profile-table">
        {% for pr in profile %}
            <tr data-id="{{ pr.id }}">
                <td class="editable" > {{ pr.category_name }}</td>
                <td class="editable" > {{ pr.dlnumber_1 }}</td>
                <td class="editable" > {{ pr.dlnumber_2 }}</td>
                <td class="editable" > {{ pr.dlnumber_3 }}</td>
                <td class="editable" > {{ pr.dlnumber_4 }}</td>
                <td class="editable" > {{ pr.dlnumber_5 }}</td>
                <td class="editable" > {{ pr.dlnumber_6 }}</td>
                <td class="editable" > {{ pr.dlnumber_7 }}</td>
                <td class="editable" > {{ pr.dlnumber_8 }}</td>
                <td class="editable" > {{ pr.dlnumber_9 }}</td>
                <td> 
                    <a href="../create">
                        <button type="button" class="add-btn"> Add Profile Details </button>
                    </a>
                    <a href="../delete/{{ pr.id }}">
                        <button type="button" class='delete-btn'> Delete </button>
                    </a>
                    {% comment %} <a href="../edit/{{ pr.id }}">
                        <button type="button">Edit</button>
                    </a> {% endcomment %}
                    <button class="edit-btn" > Edit </button>
                    <button class="save-btn" style="display:none;"> Save </button>
                    <button class="cancel-btn" style="display:none;"> Cancel </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="myFunction()">Try it</button>
<div id="trail">This content will be replaced by AJAX response.</div>
<button onclick="loadDoc()">Load Text File</button>

{% endblock %}
